.root {
  text-align: center;
}

.list {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.item {
  padding: 10px;
}